.objectiveWrapper {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  background-image: url("../../Assets/stars.jpg");
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

.title {
  text-align: center;
  margin: 1rem;
  font-size: 7rem;
}

.descriptionTxt {
  width: 95vw;
  font-size: 2rem;
  text-align: center;
}

.txtWrapper {
  width: 95vw;
  display: flex;

  .txtSection {
    margin: 1rem 0;
  }

  .txtTitle {
    text-align: center;
    font-size: 2.5rem;
  }

  .leftTxt {
    width: 50%;
    padding: 0.5rem;
    font-size: 1.5rem;
  }

  .rightTxt {
    font-size: 1.5rem;
    width: 50%;
    padding: 0.5rem;
  }
}

.homeBtn {
  width: 70%;
  font-size: 3rem;
  border-radius: 25px;
  align-self: center;
  cursor: pointer;
  margin: 1rem;
  transition: width 0.15s linear;
}

.homeBtn:hover {
  width: 90vw;
}

@media only screen and (min-device-height: 320px) and (max-device-height: 480px) and (orientation: landscape) {
  .objectiveWrapper {
    justify-content: flex-start;
  }
}
