.gameWrapper {
  cursor: url("../../Assets/crosshair.png") 60 60, auto;
  height: 100vh;
  position: relative;
  background-image: url("../../Assets/stars.jpg");
}

.round {
  color: white;
  font-size: 5rem;
  position: absolute;
  top: 50%;
  right: 125%;
  transform: translate(0, -50%);
  display: inline-block;
  text-align: center;
  text-wrap: nowrap;
  pointer-events: none;
}

.showRound {
  animation: RoundChange 2s linear;
}

.player {
  width: 10%;
  height: 10rem;
  position: absolute;
  left: 50%;
  bottom: -3rem;
  user-select: none;
  transform-origin: left center;
  transform: translate(-50%, 0);
}

.enemy {
  position: absolute;
  user-select: none;
  -webkit-user-drag: none;
  pointer-events: fill;
  top: 100%;
  width: 5%;
  height: 9%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(180deg);

  &.enemy0 {
    animation: MoveEnemyDown 6s linear;
  }
  &.enemy1 {
    animation: MoveEnemyDown 5.5s linear;
  }
  &.enemy2 {
    animation: MoveEnemyDown 5s linear;
  }
  &.enemy3 {
    animation: MoveEnemyDown 4.5s linear;
  }
  &.enemy4 {
    animation: MoveEnemyDown 4s linear;
  }
}

.gameOver {
  font-size: 3rem;
  color: white;
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  &.active {
    display: block;
  }
  button {
    width: 50%;
    font-size: 2rem;
    border-radius: 25px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }

  .btnCover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 0;
  }

  .playBtn .btnCover {
    background: linear-gradient(rgb(223, 93, 93), rgb(164, 68, 68));
  }

  .homeBtn .btnCover {
    background: linear-gradient(rgb(102, 205, 102), rgb(37, 150, 37));
  }
  button .txt {
    position: relative;
    z-index: 2;
  }
  button:hover {
    .btnCover {
      animation: MoveBtnLeft 0.8s linear infinite;
    }
  }
}

@media only screen and (min-device-height: 320px) and (max-device-height: 480px) and (orientation: landscape) {
  .player {
    width: 5%;
    height: 6rem;
  }

  .gameOver {
    font-size: 1.8rem;

    button {
      font-size: 1.2rem;
    }
  }
  .enemy {
    &.enemy0 {
      animation: MoveEnemyDown calc(6s / 1.5) linear;
    }
    &.enemy1 {
      animation: MoveEnemyDown calc(5.5s / 1.5) linear;
    }
    &.enemy2 {
      animation: MoveEnemyDown calc(5s / 1.5) linear;
    }
    &.enemy3 {
      animation: MoveEnemyDown calc(4.5s / 1.5) linear;
    }
    &.enemy4 {
      animation: MoveEnemyDown calc(4s / 1.5) linear;
    }
  }
}

@keyframes MoveEnemyDown {
  0% {
    top: -10%;
  }
  100% {
    top: 100%;
  }
}

@keyframes MoveBtnLeft {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes RoundChange {
  0% {
    right: 100%;
  }
  15% {
    right: 75%;
  }
  85% {
    right: 25%;
  }
  100% {
    right: -25%;
  }
}
