body {
  overflow: hidden;
  background-image: url("../Assets/stars.jpg");
}

.box {
  width: 10rem;
  height: 7rem;
  position: absolute;
  top: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  border: 2px dashed white;
  z-index: -1;
}

.gameWrapper {
  cursor: url("../Assets/crosshair.png") 60 60, auto;
  height: 100vh;
}

.player {
  width: 10%;
  height: 10rem;
  transform-origin: bottom;
  position: absolute;
  left: 50%;
  bottom: -3rem;
  user-select: none;
}

.enemy {
  position: absolute;
  transition: top 0.5s ease;
  user-select: none;
  -webkit-user-drag: none;
}

.GUINav {
  color: white;
  font-size: 2rem;
  pointer-events: none;
  user-select: none;
}
