body {
  overflow: hidden;
}

.leaderboardEntry {
  color: white;
  display: flex;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  font-weight: bolder;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow: hidden;
}

.title {
  color: white;
  font-size: 4rem;
  text-decoration: underline;
  position: relative;
  text-align: center;
}

.leaderboardWrapper {
  display: flex;
  justify-content: center;
}

.homeBtn {
  width: 50%;
  font-size: 2rem;
  border-radius: 25px;
  align-self: center;
  cursor: pointer;
  margin: 1rem;
  transition: width 0.15s linear;
}

.homeBtn:hover {
  width: 100%;
}

@media only screen and (min-device-width: 480px) and (max-device-width: 850px) and (orientation: landscape) {
  .title {
    font-size: 2.8rem;
  }
  .leaderboardEntry {
    font-size: 1rem;
    margin: 0 1rem;
  }

  .homeBtn {
    width: 100%;
    font-size: 1.5rem;
    margin: 0.5rem;
  }
  .entriesWrapper {
    display: flex;
  }
}
