.box {
  width: 15rem;
  height: 10rem;
  position: absolute;
  top: 50%;
  background-color: transparent;
  transform: translate(-50%, -50%);
  border: 2px dashed black;
  z-index: -1;
}

.ufo {
  background-color: black;
  width: 15rem;
  height: 10rem;
  background: url("./Assets/arrow.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 50%;
  top: 50%;
}
